<h1>Listing singlegames</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Turn</th>
      <th>Winner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @singlegames.each do |singlegame| %>
      <tr>
        <td><%= singlegame.status %></td>
        <td><%= singlegame.turn %></td>
        <td><%= singlegame.winner %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Singlegame', new_singlegame_path %>
